/* Main card responsive */
.main-card {
  position: relative;
}

/* Banner */
.banner-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: none;
}

.banner-img {
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.store-info {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 14px;
}

.nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: space-between; /* spread tabs */
   align-items: center;  
                    /* full width */
  background: #F4F5FA;
  border-radius: 10px;
  padding: 6px;
}

/* Each tab button */
.nav-tabs .nav-link {
  flex: 1;                        /* equal width tabs */
  text-align: center;             /* center the text */
  border: none;
  border-radius: 8px;
  
  background: transparent;
  transition: all 0.2s ease-in-out;
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;

line-height: 12px;
letter-spacing: 0px;
color: #707070;
 display: flex;              /* make it a flexbox */
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  text-align: center;         /* ensure text itself is centered */

}


.bannersection1 {
  width: 100%;
  height: 370px;
  margin: 0 auto;
  background-color: #27A37612; /* light green transparent */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
 
}

/* Active tab */
.nav-tabs .nav-link.active {
  background: #34495E !important;
  width: 120px;
  height: 44px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;

  display: flex;              /* make it a flexbox */
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  text-align: center;         /* ensure text itself is centered */
}

.btn-dark {
  background: #212121 !important;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 15px;
}
/* Modal container */
.custom-modal {
  max-width: 480px !important;
}

.custom-modal .modal-content {
  border-radius: 20px;
  padding: 20px 24px;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  height: 424px; /* fixed height */
}

/* Listing ID text */
.listing-id {
  font-size: 14px;
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 12px;
}

/* Form label */
.form-label-custom {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 8px;
}

.required {
  color: red;
}

/* Dropdown */
.form-select-custom {
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
}

/* Note text */
.note-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #666;
}

/* Footer */
.modal-footer-custom {
  border-top: none;
  justify-content: space-between;
  margin-top: 20px;
}

/* Cancel button */
.btn-cancel {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 20px;
}

/* Continue button */
.btn-continue {
  width: 100%;
  height: 56px;
  background: #34495E;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 24px;
  color: #fff;
}
.btn-continue:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.continuebtn{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;

line-height: 20px;
letter-spacing: 0px;

}
.notetext{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;

line-height: 20px;
letter-spacing: 0%;
color: #000000;

}
.notetext1{
  font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #626262;

}
.formnames{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 15px;

line-height: 20px;
letter-spacing: -0.6%;
vertical-align: middle;
color: #0A0D14;

}
.imgbox {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  background: #F4F6FB66;
  border: 1px dashed #86909A;

  /* Flex center the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px; /* spacing between icon and text */
  cursor: pointer; /* optional: makes it feel clickable */
}
.img-icon {
  width: 32px;   /* adjust size */
  height: 32px;
  object-fit: contain;
}
.img-label {
  font-size: 14px;
  color: #444;
}
.share-btnall{
  background: transparent;
  border: none;
}
.productname{
font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #262626;
}
.productsubname{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 15px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #02060CD9;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}
.productsubquant{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 14px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #0000008F;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}
.productsubmrp{
  font-family: Manrope;
font-weight: 800;
font-style: ExtraBold;
font-size: 18px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #0E8931;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}
.sharebtn {
  display: flex;                 /* enable flex */
  justify-content: center;       /* center horizontally */
  align-items: center;           /* center vertically */
  height: 42px;
  border-radius: 8px;
  padding: 0 16px;               /* only left-right padding */
  background-color: transparent;
  border: 1px solid #3A3A3A;
  gap: 4px;
  cursor: pointer;
}
.sharetext {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 15.52px;
  color: #3A3A3A;
  text-align: center;
}
.edit-btn{
  width: 78px;
height: 40px;
border-radius: 8px;
opacity: 1;
border: 1px solid #E2E4E9;
box-shadow: 0px 1px 2px 0px #5258660F;



}
.save_btn1{
width: 162px;
height: 44px;
gap: 2px;
border-radius: 8px;
border-width: 1px;

}
.save_text{
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
line-height: 20px;
text-align: center;
}
.edit-btn2{
  width: 259.5px;
height: 52px;

opacity: 1;
gap: 4px;
border-radius: 10px;
border-width: 1px;
border: 1px solid #E2E4E9;

}
.profile-set{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #262626;

}
.complete-txt{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;

}
.admin-delete{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 20px;
letter-spacing: -0.6%;
text-align: center;
color: #F62D2D;

}
.admin-edit{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 20px;
letter-spacing: -0.6%;
text-align: center;
color: #FFFFFF;
}
.share-btncombo{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color:#3A3A3A;
text-align: center !important;

}
.share-linkvia{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
color: #34495E;

}
.custom-add-modal1 .modal-dialog {
  max-width: 468px !important;
}

.custom-add-modal1 .modal-content {
  height: 232px;
  border-radius: 12px;
  overflow: hidden; /* ensures header gradient stays flush */
}
.master-naming{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 15px;
letter-spacing: 0%;
vertical-align: middle;
color: #262626;

}
.master-quant{
  font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 15px;
letter-spacing: 0%;
vertical-align: middle;
color: #0000008F;

}
.masters-mrp{
  font-family: Manrope;
font-weight: 800;
font-style: ExtraBold;
font-size: 18px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #02060CCC;

}

.buy-planbtn{
  background: #34495E;
  border: none;
  width: 120px;
height: 44px;
border-radius: 8px;
opacity: 1;
gap: 8px;
padding: 16px;

}
.buy-plantext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 12px;
letter-spacing: 0px;
color: #FFFFFF;
}
.cancel-planbtn{
   background: #fff;
   border: 1px solid red;

  width: 120px;
height: 44px;
border-radius: 8px;
opacity: 1;
gap: 8px;
padding: 16px;
}
.cancel-plantext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 12px;
letter-spacing: 0px;
color: red !important;
}