.combopayment-head{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 24px;
letter-spacing: -1.5%;
vertical-align: bottom;
color: var(--text-main-900, #0A0D14);


}
.payment-comboname{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #262626;
}
.payment-categories{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 15px;
line-height: 14.02px;
letter-spacing: 0%;
vertical-align: middle;
color: #3A3A3A;

}
.payment-categoriesvalues{
    margin-top: 5px;
    font-family: Manrope;
font-weight: 800;
font-style: ExtraBold;
font-size: 16px;
color: #066C7E;
line-height: 19.2px;
letter-spacing: 0%;
vertical-align: middle;

}
.created-on{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 14px;
color: #0000008A;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;

}
.created-value{
font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 15.52px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #045867;
}
.combopayment-num{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.6%;
vertical-align: middle;
color: var(--text-main-900, #0A0D14);
;
}
.combopayment-input{
    width: 546px;
height: 48px;
opacity: 1;
gap: 8px;
border-radius: 9px;
border-width: 1px;
border: 1px solid var(--stroke-soft-200, #E2E4E9);
box-shadow: 0px 1px 2px 0px #E4E5E73D;

}

.combopayment-input1{
    width: 546px;
height: 48px;
opacity: 1;
gap: 8px;
border-radius: 9px;
border-width: 1px;
border: 1px solid var(--stroke-soft-200, #E2E4E9);
box-shadow: 0px 1px 2px 0px #E4E5E73D;
background: #F62D2D12;



}

.bill-history{
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 24px;
letter-spacing: -1.5%;
vertical-align: bottom;
color: var(--text-main-900, #0A0D14);

}
.billhistory-comboid{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 14px;
line-height: 15.52px;
letter-spacing: 0%;
vertical-align: middle;
color: #6A7576;
}
.billhistory-combovalue{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: start;
vertical-align: middle;
color: #045867;

}
.combopayment-textinput{
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 5.46px;
letter-spacing: 0%;
vertical-align: middle;
color: #F62D2D;

}