.complete-profile-container {
  padding: 2rem;
}

/* Progress Steps */
.steps-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.step-bar {
  width: 70px;
  height: 8px;
  margin: 0 6px;
  border-radius: 10px;
  background: #e0e0e0;
  transition: background 0.3s ease;
}
.step-bar.active {
  background: #24a348;
}

/* Card */
.complete-card {
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  background: #fff;
}

/* Section title */
.section-title {
    font-family: manrope;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #0A0D14;
}
.sub-title{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0px;
color: #111827;

}
.sub-input{
    
height: 50px;
angle: 0 deg;
opacity: 1;
gap: 10px;
border-radius: 10px;
border-width: 1px;
padding: 14px;
border: 1px solid #E2E4E9

}
/* Profile Upload */
.profile-upload {
  text-align: center;
  margin-bottom: 2rem;
}
.profile-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}
.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.default-icon {
  font-size: 40px;
  color: #ccc;
}
.upload-btn {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* Footer Buttons */
.footer-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.skip-btn{
 width: 250px;
height: 52px;
opacity: 1;
gap: 4px;
border-radius: 10px;
border-width: 1px;
border: 1px solid #E2E4E9

}
.save-btn{
    width: 259.5px;
height: 52px;
opacity: 1;
gap: 4px;
border-radius: 10px;
background-color: #27A376;
box-shadow: 0px 1px 2px 0px #375DFB14;

}
.skip-text{
    font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: -0.6%;
text-align: center;
color: #525866;
}
.save-text{
    font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: -0.6%;
text-align: center;
color: #FFFFFF;
}
.sub-payment{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;

line-height: 12px;
letter-spacing: 0%;
text-align: center;

}