.business-pagelink{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 15px;
line-height: 12px;
letter-spacing: 0px;
color: #262626;
}
.visit-link{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 5.46px;
letter-spacing: 0%;
vertical-align: middle;
color: #FFFFFF;
}